.my-form {
  margin-top: 20px;
  border: 1px solid black;
  padding: 3px;
}
.my-radio-group {
  border: 1px solid green;
  padding: 3px;
}
.my-radio {
  border: 1px dotted red;
  padding: 3px;
}
.my-other-radio {
  border: 1px dotted blue;
  padding: 3px;
}
.other-specify{
  padding-left: 20px;
}
